$rt-tokenizer-border-width: 4px !default;
$rt-tokenizer-border-style: solid !default;
$rt-tokenizer-border-color: #ddd !default;
$rt-tokenizer-border-radius: 3px !default;

$rt-cell-border-width: 1px !default;
$rt-cell-border-style: solid !default;
$rt-cell-border-color: #bbb !default;
$rt-cell-background-color: #ddd !default;
$rt-cell-color: #444 !default;
$rt-cell-border-radius: 3px !default;
